.JScalculater {
	width: 500px;
	height: 100vh;
	margin: auto auto;
	text-align: center;
	padding: 20px;
	background-color: rgb(130, 208, 231);
}
.operations-block {
	border-bottom: grey 4px solid;
	margin-bottom: 40px;
}

.JScalculater button {
	height: 50px;
	width: 50px;
	margin: 20px;
}

.inputs-block {
	width: 70%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.input-number {
}

.inputs-block {
}
